body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.countdown-container {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

#countdown {
    display: flex;
    justify-content: space-around;
}

.time-box {
    text-align: center;
}

.time-box span {
    font-size: 3rem;
    display: block;
    color: #007bff;
}

.time-box p {
    font-size: 1.2rem;
    color: #555;
}
